{{ 'section-2.css' | asset_url | stylesheet_tag }}

{% if section.settings.bg_image != blank %}
  {% style %}
    @media screen and (min-width: 1200px){
      #Section2-{{ section.id }} {
        background-image: url({{ section.settings.bg_image | image_url }});
      }
    }
  {% endstyle %}
{% endif %}

<div id="Section2-{{ section.id }}" class="section2">
  <div class="section2__content page-width">
    <div class="rows">
      {%- for block in section.blocks -%}
        <div class="row {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {% if block.settings.block_image != blank %}
            <div>
              {{
                block.settings.block_image
                | image_url: width: block.settings.block_image.width
                | image_tag: widths: '200, 400'
              }}
            </div>
          {% endif %}
          {% if block.settings.block_text != blank %}
            {{ block.settings.block_text }}
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section 2",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "block_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section 2"
    }
  ]
}
{% endschema %}
